table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #A9DFBF;
}

body {
    background-color: #00303F;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    min-width: 60px;
    line-height: 1.5;
}

thead th {
    background-color: #45B39D;
    color: #FEF9E7;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

tbody tr:nth-child(odd) {
    background-color: #D5F5E3;
}

#charts {
    width: 100%;
    margin: 0 auto;
}

canvas {
    display: block;
    margin-bottom: 20px;
}

nav ul {
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #16A085;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none; 
    padding: 0; 
}

nav ul li {
    float: none;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #FEF9E7;
    border-bottom: 1px solid #eaeaea;
}

nav ul li a:hover {
    background-color: #138D75;
    color: #D5F5E3;
    user-select: none;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.content-section,
#help,
#about {
    background-color: #D5F5E3;
    color: #1E8449;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section {
    display: block;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.content-section2 {
    max-width: 800px;
}

.active-tab {
    display: block;
}

button {
    padding: 12px 22px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #16A085, #45B39D);
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button,
#download-data-button {
    background: linear-gradient(to right, #138D75, #16A085);
    color: #FEF9E7;
}

#edit-section {
    padding: 20px;
    background-color: #45B39D;
    margin: 20px auto;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-section h2 {
    text-align: center;
    color: #FEF9E7;
    margin-bottom: 30px;
}

#student-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#student-form label {
    color: #333;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

#student-form input[type="text"],
#student-form input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

#student-form input[type="text"],
#student-form input[type="number"],
#student-form button {
    border: 1px solid #16A085;
}

#student-form button {
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #16A085;
    color: #FEF9E7;
}

#student-form button:hover {
    background-color: #00303F;
}

.content-section {
    margin-left: 220px;
    transition: margin-left 0.3s;
}

#student-form button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: auto;
    align-self: center;
}

button:hover,
#download-data-button:hover {
    background-color: #00303F;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #58D68D;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.delete-btn:hover {
    background-color: #28B463;
}
